body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

button {
  background-color: #3882f6;
  color: white;
  font: 1.1em sans-serif;
  white-space: nowrap;
}
button.hero {
  padding: 10px 32px;
  border-radius: 8px;
  border-style: none;
}
button.cta {
  padding: 10px 32px;
  border-radius: 8px;
  border: 2px solid white;
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

footer {
  background-color: #1f2937;
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #1f2937;
  color: white;
  padding: 16px 10%;
}

.imageholder {
  background-color: grey;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
}

.hero {
  display: flex;
  padding: 50px 0px;
  gap: 16px;
}
.heroleft,
.heroright {
  flex: 1 1 0;
}

.logo {
  font-size: 1.5em;
}

.heromaintext {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.herosecondarytext {
  font-size: 18px;
  color: #e5e7eb;
}

.random {
  flex: 1;
  margin-top: 10px;
  margin-bottom: 60px;
}
.infoheadertext {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  padding: 30px;
}
.blueboxholder {
  display: flex;
  align-items: stretch;
  gap: 30px;
  padding: 0px 10%;
  margin: 0px 5%;
}
.bluebox {
  border: 4px solid #3882f6;
  border-radius: 15px;
  flex: 1 0 auto;
  height: auto;
}
.bluebox:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.subtextholder {
  display: flex;
  align-items: stretch;
  gap: 30px;
  padding: 0px 10%;
  margin: 0px 5%;
}
.subtext {
  flex: 1 0 auto;
  height: auto;
  width: 0;
  text-align: center;
}

.quotesection {
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 26px;
  padding-left: 20%;
  padding-right: 20%;
}
.quotesection.top {
  font-weight: 100;
  font-style: italic;
  text-align: justify;
  padding-top: 60px;
}
.quotesection.thor {
  text-align: end;
  padding-bottom: 60px;
}

.cta {
  background-color: #3882f6;
  color: white;
  margin: 50px 20%;
  display: flex;
  padding: 30px 30px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}
.ctatext {
}
.ctasignup {
  font-size: 10px;
}
